<section class="no-padding">
  <div class="container d-flex flex-column">
    <div class="row align-items-center justify-content-center min-vh-100">
      <div class="col-sm-11 col-md-9 col-lg-7 col-xl-8">
        <div class="margin-30px-tb text-center">

          <div class="margin-35px-bottom">
            <img class="img-fluid" src="../../../../assets/img/content/maintenance-mode.png" alt="...">
          </div>

          <div class="width-80 md-width-100 text-center mx-md-auto">
            <h1 class="font-size36 md-font-size32 xs-font-size30 main-font font-weight-500">We are just updating a few things</h1>
            <p class="lead line-height-35 margin-35px-bottom">We completely understand your disappointment. Please accept our apologies.</p>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
