<!-- start slideshow-->
<div class="container-fluid full-screen">
    <div class="row slider-fade">
      <div class="owl-carousel owl-theme width-100">
        <div class="text-left item bg-img" data-overlay-dark="7" data-background="assets/img/slider/pexels-lukas-669610.jpg" style="background-image: url('assets/img/slider/pexels-lukas-669610.jpg');">
          <div class="container height-100">
            <div class="display-table height-100 width-100">
              <div class="display-table-cell vertical-align-middle caption">
                <div class="overflow-hidden width-80 sm-width-85 xs-width-95">
                  <h1 class="text-white">SQL Mantra Tools</h1>
                  <p class="margin-30px-bottom sm-margin-20px-bottom">
                    Must have SQL Performance Tuning Tool for all business.</p>
                  <a href="#!" class="butn medium theme">
                    <span class="alt-font">Learn More</span><i class="ti-arrow-right font-size13 text-white margin-10px-left"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center item bg-img" data-overlay-dark="6" data-background="assets/img/slider/SQL-Managed-Solution.jpg" style="background-image: url('assets/img/slider/SQL-Managed-Solution.jpg');">
          <div class="container height-100">
            <div class="display-table height-100 width-100">
              <div class="display-table-cell vertical-align-middle caption">
                <div class="overflow-hidden width-80 sm-width-85 xs-width-95">
                  <h1 class="text-white">SQL Mantra Tools</h1>
                  <p class="margin-30px-bottom sm-margin-20px-bottom">
                    Why waste money on upgrading your application, while you can tune it to improve it’s speed, scalability, concurrency and extend it’s life for a fraction of the cost ?.  The only tool you would need for this is SQL Mantra Tools.
                  </p>
                  <a href="#!" class="butn medium theme">
                    <span class="alt-font">Learn More</span><i class="ti-arrow-right font-size13 text-white margin-10px-left"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center item bg-img" data-overlay-dark="6" data-background="assets/img/slider/banner3.jpg" style="background-image: url('assets/img/slider/banner3.jpg');">
          <div class="container height-100">
            <div class="display-table height-100 width-100">
              <div class="display-table-cell vertical-align-middle caption">
                <div class="overflow-hidden width-80 sm-width-85 xs-width-95">
                  <h1 class="text-white">SQL Mantra Tools</h1>
                  <p class="margin-30px-bottom sm-margin-20px-bottom">
                    SQL Mantra Tools is the only software you would need to improve your application, SQL server's performance.
                  </p>
                  <a href="#!" class="butn medium theme">
                    <span class="alt-font">Learn More</span><i class="ti-arrow-right font-size13 text-white margin-10px-left"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="text-left item bg-img" data-overlay-dark="7" data-background="assets/img/slider/slide-01.jpg" style="    background-image: url('assets/img/slider/slide-01.jpg');">
          <div class="container height-100">
            <div class="display-table height-100 width-100">
              <div class="display-table-cell vertical-align-middle caption">
                <div class="overflow-hidden width-80 sm-width-85 xs-width-95">
                  <h1 class="text-white">SQL Mantra Tools</h1>
                  <p class="margin-30px-bottom sm-margin-20px-bottom">
                    SQL Mantra Tools is your one stop shop for all the tools you need to have for Optimize your Microsoft SQL Server Environment and application such as Microsoft Dynamics 365 Business Central, Microsoft Dynamics NAV, Navision, Microsoft Dynamics AX and Microsoft Dynamics AX 365 Applications.
                  </p>
                  <a href="#!" class="butn medium theme">
                    <span class="alt-font">Learn More</span><i class="ti-arrow-right font-size13 text-white margin-10px-left"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div><div class="text-left item bg-img" data-overlay-dark="7" data-background="assets/img/slider/slide-02.jpg" style="    background-image: url('assets/img/slider/slide-02.jpg');">
  <div class="container height-100">
    <div class="display-table height-100 width-100">
      <div class="display-table-cell vertical-align-middle caption">
        <div class="overflow-hidden width-80 sm-width-85 xs-width-95">
          <h1 class="text-white">SQL Mantra Tools</h1>
          <p class="margin-30px-bottom sm-margin-20px-bottom">
            SQL Mantra Tools will log key performance related metrics such as Memory usage, CPU usage, Disk speed, SQL Waits, Slow running Queries, Blocking activities, Deadlock activities along with the SQL code and the application code causing these issue 24/7.  SQL Mantra Tools is a must have tool for any of your performance troubleshooting and application tuning task.  Highlighting the performance bottleneck areas with pin point accuracy.
          </p>
          <a href="#!" class="butn medium theme">
            <span class="alt-font">Learn More</span><i class="ti-arrow-right font-size13 text-white margin-10px-left"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div><div class="text-left item bg-img" data-overlay-dark="7" data-background="assets/img/slider/slide-03.jpg" style="    background-image: url('assets/img/slider/slide-03.jpg');">
  <div class="container height-100">
    <div class="display-table height-100 width-100">
      <div class="display-table-cell vertical-align-middle caption">
        <div class="overflow-hidden width-80 sm-width-85 xs-width-95">
          <h1 class="text-white">SQL Mantra Tools</h1>
          <p class="margin-30px-bottom sm-margin-20px-bottom ">
            SQL Mantra Tools will maintain Microsoft SQL Server for better performance and will increase it's scalability.  Thanks to it's unique adaptive algorithm, it will also optimise fill factor in index data page based on the actual usage of index and it's volatility.
          </p>
          <a href="#!" class="butn medium theme">
            <span class="alt-font">Learn More</span><i class="ti-arrow-right font-size13 text-white margin-10px-left"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div><div class="text-left item bg-img" data-overlay-dark="7" data-background="assets/img/slider/slider-04.jpg" style="    background-image: url('assets/img/slider/slider-04.jpg');">
  <div class="container height-100">
    <div class="display-table height-100 width-100">
      <div class="display-table-cell vertical-align-middle caption">
        <div class="overflow-hidden width-80 sm-width-85 xs-width-95">
          <h1 class="text-white">SQL Mantra Tools</h1>
          <p class="margin-30px-bottom sm-margin-20px-bottom">
            SQL Mantra Tools will analyse Microsoft SQL Server key setup parameters as well as it's resources along with application setups and will check them against best practice guidelines and will suggest the necessary steps to remedy them.
          </p>
          <a href="#!" class="butn medium theme">
            <span class="alt-font">Learn More</span><i class="ti-arrow-right font-size13 text-white margin-10px-left"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div><div class="text-left item bg-img" data-overlay-dark="7" data-background="assets/img/slider/slider-05.jpg" style="    background-image: url('assets/img/slider/slider-05.jpg');">
  <div class="container height-100">
    <div class="display-table height-100 width-100">
      <div class="display-table-cell vertical-align-middle caption">
        <div class="overflow-hidden width-80 sm-width-85 xs-width-95">
          <h1 class="text-white">SQL Mantra Tools</h1>
          <p class="margin-30px-bottom sm-margin-20px-bottom">
            SQL Mantra Tools also comes with unique multithreaded scheduler for Microsoft SQL Express Edition, which will take the strain of scheduling routine tasks in any production Microsoft SQL Express Edition Environment.
          </p>
          <a href="#!" class="butn medium theme">
            <span class="alt-font">Learn More</span><i class="ti-arrow-right font-size13 text-white margin-10px-left"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
      </div>
    </div>
</div>
<!-- end slideshow-->
