
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6">
            <div class="inner-title">
              <h5>
                About Us
              </h5>
            </div>
          </div>
          
        </div>
        <div class="row">
          <div class="col-md-12">
            SQL Mantra Tools provides tools and services for general business who use Microsoft SQL Server. We focus on delivering high performance applications and systems which can scale and expand with your organisation’s growing business needs. Our tools can play a major pivotal role in understanding the inner workings and the bottleneck of your system and will keep your system healthy and free from performance problems in long run, extending the life of your system, helping to get more from your investment in your business-critical application such as your ERP system and the IT infrastructure.
          </div>
        </div>

      </div>
    </div>

  </div>
</section>
<!-- end under construction section -->
