        <!-- start login section -->
<section style="background-color:#eee;">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10 col-lg-7 col-xl-6">

        <div class="common-block" style="background-color:#fff;">

          <div class="line-title">
            <h3>Partner/ Customer Forgot Password Panel</h3>
          </div>

          <form [formGroup]="forgotPwdForm" (ngSubmit)="onSubmit()">

            <div class="row">

              <div class="col-sm-12 margin-5px-bottom">
                <div class="form-group">

                  <input id="userId" type="text" formControlName="userId" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.userId.errors }" placeholder="user Id here" />
                  <div *ngIf="submitted && f.userId.errors" class="invalid-feedback">
                    <div *ngIf="f.userId.errors.required">userId is required</div>
                  </div>

                </div>
              </div>
              
            </div>
            <button class="butn theme btn-block margin-15px-top margin-15px-bottom"><span>Submit</span></button>

          </form>
          <div class="row">
            <div class="col-md-12 margin-15px-bottom">
              By continuing, you agree to SQL Mantra Tools <a routerLink="/terms-of-use">Terms of Use</a>, <a routerLink="/privacy-policy">Privacy Policy</a> and <a routerLink="/cookie-policy">Cookie Policy</a>
            </div>

          </div>

          <div class="row">
            <div class="col-sm-6 margin-10px-bottom">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="login-remember">
                <!--<label class="custom-control-label" for="login-remember">Resend Verification link</label>-->
              </div>
            </div>
            <div class="col-sm-6 text-left text-sm-right">
              <a routerLink="/login" class="m-link-muted">login</a>
            </div>
          </div>
          <hr />

          <div class="text-center text-small margin-20px-top">
            <span>Don't have an account yet? <a routerLink="/register">Create new account</a></span>
          </div>


        </div>

      </div>
    </div>

  </div>
</section>
<!-- end under construction section -->
