<!-- start registration form -->
<section>
  <div class="container">

    <div class="row"   style="background-color: purple;">
      <div class="col-md-3 col-lg-3 col-xl-3 text-white">
        <ul>
          <li>
            SQL Mantra Tools is your one stop shop for all the tools you need to have for Optimize your Microsoft SQL Server Environment and application such as Microsoft Dynamics 365 Business Central, Microsoft Dynamics NAV, Navision, Microsoft Dynamics AX and Microsoft Dynamics AX 365 Applications.
          </li>
        </ul>

      </div>
      <div class="col-md-9 col-lg-9 col-xl-9" style="background-color: white;">

        <div class="common-block">

          <div class="line-title">
            <h3>Free Trial Request</h3>
          </div>

          <form method="post">

            <div class="row">

              <div class="col-sm-6 margin-10px-bottom">

                <div class="form-group">
                  <label>Your Name</label>
                  <input type="text" name="name" placeholder="Your name here">
                </div>

              </div>

              <div class="col-sm-6 margin-10px-bottom">

                <div class="form-group">
                  <label>Your User Name</label>
                  <input type="text" name="username" placeholder="Your user name here">
                </div>

              </div>

            </div>

            <div class="row">

              <div class="col-sm-6 margin-10px-bottom">

                <div class="form-group">
                  <label>Email Address</label>
                  <input type="email" name="email" placeholder="Your email here">
                </div>

              </div>

              <div class="col-sm-6 margin-10px-bottom">

                <div class="form-group">
                  <label>Contact Number</label>
                  <input type="text" name="phone" placeholder="+40-123 456 789">
                </div>

              </div>

            </div>

            <div class="row">

              <div class="col-sm-6 margin-10px-bottom">

                <div class="form-group">
                  <label>Password</label>
                  <input type="password" name="password" placeholder="Your password here">
                </div>

              </div>

              <div class="col-sm-6 margin-10px-bottom">

                <div class="form-group">
                  <label>Re-Password</label>
                  <input type="password" name="re-password" placeholder="Your re-password here">
                </div>

              </div>

            </div>
            <div class="row">

              <div class="col-sm-6 margin-10px-bottom">

                <div class="form-group">
                  <label>Organization Name</label>
                  <input type="password" name="password" placeholder="Your password here">
                </div>

              </div>

              <div class="col-sm-6 margin-10px-bottom">

                <div class="form-group">
                  <label>Product</label>
                  <input type="password" name="re-password" placeholder="Your re-password here">
                </div>

              </div>

            </div>
            <div class="row">
              <div class="col-sm-12 margin-10px-bottom">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="terms-condition">
                  <label class="custom-control-label" for="terms-condition">I agree to the <a href="#!" class="text-theme-color">Terms & Conditions</a></label>
                </div>
              </div>

            </div>

            <button type="button" class="butn theme btn-block margin-20px-top"><span>Register</span></button>
            <div class="text-center text-small margin-20px-top">
              <span>Already have an account? <a href="/login">Login</a></span>
            </div>

          </form>

        </div>

      </div>
    </div>

  </div>
</section>
<!-- end registration form -->
