<section class="full-screen cover-background no-padding bg-img" data-overlay-dark="0" data-background="../../../../assets/img/bg/error-404.jpg">
  <div class="container d-flex flex-column">
    <div class="row align-items-center justify-content-center min-vh-100">
      <div class="col-sm-11 col-md-9 col-lg-7 col-xl-6">
        <div class="margin-30px-tb text-center">
          <h1 class="font-size120 md-font-size100 sm-font-size80 no-margin main-font font-weight-500">404</h1>
          <h3>Page not found</h3>
          <p class="lead line-height-35">We're sorry, Please try one of the following Pages from Menu.</p>
          <div class="margin-30px-top"><a href="/" class="butn theme"><span>Back to Home</span></a></div>
        </div>
      </div>
    </div>
  </div>
</section>
