<!-- start page loading -->
<!-- <div id="preloader">
    <div class="row loader">
        <div class="loader-icon"></div>
    </div>
</div> -->
<!-- end page loading -->

<!-- start main-wrapper section -->
<div class="main-wrapper">
    <app-header></app-header>
    <app-page-title></app-page-title>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
</div>
<!-- start scroll to top -->
<a href="#!" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>
<!-- end scroll to top -->
