<section>
    <div class="container">
        <div class="section-heading">
            <h3>What We Do</h3>
        </div>
        <div class="row feature-boxes-container">

          <div class="col-lg-4 col-md-12 margin-30px-bottom xs-margin-20px-bottom feature-box-04">
            <div class="feature-box-inner h-100">
              <i class="fas fa-file-medical-alt font-size50 md-font-size46 sm-font-size40 xs-font-size38"></i>
              <h4 class="font-size15 xs-font-size14 margin-10px-top xs-margin-8px-top text-uppercase font-weight-600 text-black">System health check</h4>
              <div class="sepratar"></div>
              <p>
                Comprehensive system health check report along with recommended actions to improve system's performance, concurrency it's scalability for a fixed cost.
              </p>
            </div>
          </div>

          <div class="col-lg-4 col-md-12 margin-30px-bottom xs-margin-20px-bottom feature-box-04">
            <div class="feature-box-inner h-100">
              <i class="fas fa-cogs font-size50 md-font-size46 sm-font-size40 xs-font-size38"></i>
              <h4 class="font-size15 xs-font-size14 margin-10px-top xs-margin-8px-top text-uppercase font-weight-600 text-black">
                Performance Tuning Service
              </h4>
              <div class="sepratar"></div>
              <p>
                Application tuning to improve the speed of slow running process, blocking and deadlock processes to increase the throughput of your Dynamics NAV/Dynamics 365 Business Central.

              </p>
            </div>

          </div>

          <div class="col-lg-4 col-md-12 margin-30px-bottom xs-margin-20px-bottom feature-box-04">
            <div class="feature-box-inner h-100">
              <i class="fas fa-tools font-size50 md-font-size46 sm-font-size40 xs-font-size38"></i>
              <h4 class="font-size15 xs-font-size14 margin-10px-top xs-margin-8px-top text-uppercase font-weight-600 text-black">
                Index optimisation
              </h4>
              <div class="sepratar"></div>
              <p>
                Removing unused index to save database space, storage and backup requirements as well as reducing index and maintenance window to extend the life of the application.

              </p>
            </div>
          </div>

          <div class="col-lg-4 col-md-12 margin-30px-bottom xs-margin-20px-bottom feature-box-04">
            <div class="feature-box-inner h-100">
              <i class="fas fa-file-archive font-size50 md-font-size46 sm-font-size40 xs-font-size38"></i>
              <h4 class="font-size15 xs-font-size14 margin-10px-top xs-margin-8px-top text-uppercase font-weight-600 text-black">
                Archiving
              </h4>
              <div class="sepratar"></div>
              <p>
                Identifying and archiving old data to an archive database to extend the life of your Dynamics NAV/Dynamics 365 Business Central application.
              </p>
            </div>
          </div>

          <div class="col-lg-4 col-md-12 margin-30px-bottom xs-margin-20px-bottom feature-box-04">
            <div class="feature-box-inner h-100">
              <i class="fas fa-user-cog font-size50 md-font-size46 sm-font-size40 xs-font-size38"></i>
              <h4 class="font-size15 xs-font-size14 margin-10px-top xs-margin-8px-top text-uppercase font-weight-600 text-black">
                SQL DBA and System Administrator Service
              </h4>
              <div class="sepratar"></div>
              <p>
                Why not try our comprehensive SQL DBA and System Administrator Service for a fraction of the cost.
              </p>
            </div>
          </div>

          <div class="col-lg-4 col-md-12 margin-30px-bottom xs-margin-20px-bottom feature-box-04">
            <div class="feature-box-inner h-100">
              <i class="fas fa-chart-line font-size50 md-font-size46 sm-font-size40 xs-font-size38"></i>
              <h4 class="font-size15 xs-font-size14 margin-10px-top xs-margin-8px-top text-uppercase font-weight-600 text-black">
                Business Intelligent Service
              </h4>
              <div class="sepratar"></div>
              <p>
                If you need any BI need, why not contact us for a completive price.

              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-12 feature-box-04">
            <div class="feature-box-inner h-100">
              <i class="fas fa-server font-size50 md-font-size46 sm-font-size40 xs-font-size38"></i>
              <h4 class="font-size15 xs-font-size14 margin-10px-top xs-margin-8px-top text-uppercase font-weight-600 text-black">
                Server maintenance and upgrades
              </h4>
              <div class="sepratar"></div>
              <p>
                We do all kinds of server installation maintenance and upgrades. Why not contact us for a better price.
              </p>
            </div>
          </div>

          <div class="col-lg-4 col-md-12 feature-box-04">
            <div class="feature-box-inner h-100">
              <i class="fas fa-map-marked-alt font-size50 md-font-size46 sm-font-size40 xs-font-size38"></i>
              <h4 class="font-size15 xs-font-size14 margin-10px-top xs-margin-8px-top text-uppercase font-weight-600 text-black">
                Dynamics NAV/Dynamics 365 Business Central Consultancy
              </h4>
              <div class="sepratar"></div>
              <p>
                We have paired with our partner network for many of our service such as Dynamics NAV/Dynamics 365 Business Central consultancy. If you need any Dynamics NAV/Dynamics 365 Business Central requirements such as upgrades, enhancements, extensions, development and consultancy service. We are here for you.

              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-12 feature-box-04">
            <div class="feature-box-inner h-100">
              <i class="fas fa-network-wired font-size50 md-font-size46 sm-font-size40 xs-font-size38"></i>
              <h4 class="font-size15 xs-font-size14 margin-10px-top xs-margin-8px-top text-uppercase font-weight-600 text-black">
                Infrastructure Planning & Sizing
              </h4>
              <div class="sepratar"></div>
              <p>
                One of the most important aspect of any Dynamics NAV/Dynamics 365 Business Central implementation or upgrade is to size the environment to cater for future growth and expansion of your organisation.  With many options for the environment in the market nowadays, it is very confusing and challenging to choose the correct environment to host your solution.  We can provide profession advise and recommendations to suit your organisation saving a lot of money and effort in long term.  Why not contact us for an impartial advice?
              </p>
            </div>
          </div>
        </div>

    </div>
</section>
