
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6">
            <div class="inner-title">
              <h5>
                SQL Mantra Tools - End User Licence Agreement
              </h5>
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-md-12">

            <p>IMPORTANT: THIS SOFTWARE AND ANY SOFTWARE UPGRADE (THE "SOFTWARE") IS OFFERED SUBJECT TO THE TERMS OF THIS END USER LICENCE AGREEMENT (THE "EULA", "AGREEMENT"). YOU SHOULD READ THE FOLLOWING TERMS AND CONDITIONS CAREFULLY BEFORE USING THIS SOFTWARE. IF YOU DO NOT AGREE TO THE TERMS AND CONDITIONS OF THIS AGREEMENT, DO NOT DOWNLOAD, INSTALL OR USE THE SOFTWARE. USE OF THE SOFTWARE WILL INDICATE YOUR ACCEPTANCE OF THESE TERMS AND CONDITIONS.</p>
            <h6>1. Software Licence</h6>
            <p>
              (i) You shall acquire only a non-exclusive, non-transferable licence ( "Software Licence" ) for up to the Licensed number of Named Users on the SQL Mantra Tools Product Licence per single SQL servers instance or domain (where applicable). The Software shall at all times remain the sole property of SQL Mantra Tools ("SQL Mantra Tools", "RSM Softwares Limited", "We", "Us").
              (ii) Such licence shall only be transferable with the prior written consent of SQL Mantra Tools to be granted at its absolute discretion and provided that (a) you shall de-install the Software from your workstations and servers, and (b) the transferee agrees to be bound by this EULA.
              (iii) You shall use the Software solely for your internal business use and for the benefit of no other person or entity.
              (iv) You shall not rent, lease, sub-licence or lend the Software to any person or use the Software for commercial time-sharing or service bureau use.
              (v) You agree the minimum software licence subscription period for SQL Mantra Tools is 6 months with 6 month notice period.  In the event of these minimum periods are not observed, we have the right to invoice up to the minimum software licence subscription periods.
            </p>
            <h6>2. Intellectual Property Rights</h6>
            <p>
              (i) You acknowledge that all copyright, patents and other intellectual property rights of whatever nature in the Software shall remain vested solely in SQL Mantra Tools. You undertake to take all reasonable precautions to maintain the confidentiality of such Software, and all know-how and trade secrets incorporated therein and not to copy the Software other than as required by the installation procedure for use of the Software subject to the terms of this licence (keeping the original(s) solely for backup or archival purposes) and otherwise not to copy or duplicate or permit the copying or duplication of the Software by any means, save for making backups in accordance with normal business practice and otherwise as permitted by law.
              (ii) Where it is possible to extend and/or change the Software, SQL Mantra Tools may, at it's discretion, grant written consent to you to extend and/or change the functionality of the Software. SQL Mantra Tools is not responsible for any extensions or changes to the functionality of the Software you may make, nor for any effect such extensions or changes may have on the functionality of the Software or any other software programs.
              (iii) Subject to you receiving written consent to extend and/or change the Software, You otherwise undertake not to alter, develop, adapt, modify or customise the whole or any part of the Software in any way, nor disassemble, decompile, mimic or reverse engineer or otherwise attempt to derive the source code of, the Software without the prior written consent of SQL Mantra Tools, save as permitted by law.
              (iv) Where SQL Mantra Tools grants consent to you to alter, develop, adapt, modify or customise the whole or any part of the Software in any way the intellectual property rights in such alterations, developments, adaptations, modifications, customisations and any new features, functionality, or performance provided by the Software as a result (" Changes" ) shall be the sole and exclusive property of SQL Mantra Tools and you shall obtain no rights, title or interest in or to such Changes.
              (v) You acknowledge that some elements of the Software may be owned by a third party and agree that where this is the case, such third party shall obtain the benefit of this Agreement.
            </p>
            <h6>3. Internet-based Services and Consent to Use of Data</h6>
            <p>
              (i) SQL Mantra Tools may provide Internet-based services with the Software. In addition to the following, your use of those services is subject to the terms provided to you as referred in the “Terms of Service” and/or by your wireless carrier.
              (ii) The Software may connect to computer systems over an Internet-based and/or wireless network. In some cases, you will not receive a separate notice when they connect. Using the Software operates as your consent to the transmission of standard device information (including but not limited to technical information about your device, system and software, and peripherals) for Internet-based and/or wireless services.
              (iii) You may not use any Internet-based service that SQL Mantra Tools provide in any way that could harm it or impair anyone else’s use of it or the wireless network. You also may not use any Internet-based service to try to gain unauthorized access to any service, data, account, or network by any means.
              (iv) You agree that SQL Mantra Tools may collect and use technical information gathered as part of support services provided to you, if any, related to the Software. SQL Mantra Tools may use this information solely to improve our products or to provide customised services or technologies to you and will not disclose this information in a form that personally identifies you.
            </p>
            <h6>4. Limited Warranty and Limitation of Liability</h6>
            <p>
              (i) Save as expressly provided in this Agreement, the Software is provided "as is", "with all faults" and "as available" without any warranty of any kind, either express or implied, including but not limited to implied warranties of merchantability, satisfactory quality and fitness for a particular purpose.
              (ii) SQL Mantra Tools shall be under no liability in respect of any defect arising from normal wear and tear, wilful damage, negligence, abnormal working conditions, failure to follow SQL Mantra Tool’s instructions (whether oral or in writing), or misuse or alteration or repair of the Software without SQL Mantra Tool’s approval.
              (iii) SQL Mantra Tools shall be under no liability in respect of any third party software provided under this Agreement.
              (iv) SQL Mantra Tools accepts no liability for errors or omissions in its instructions, training materials and other literature, whether in printed or electronic form.
              (v) SQL Mantra Tools does not exclude or limit its liability to you in respect of death or personal injury resulting from negligence within the meaning of section 1(1) of the Unfair Contract Terms Act 1977 or any other liability which, by law, it cannot exclude or limit.
              (vi) SQL Mantra Tools will not be liable to you for any loss or damage additional to that set out in clause 4 (v) above (including costs or expenses relating to or arising out of such loss or damage) whether arising from contract, tort (including negligence), breach of statutory duty, contribution or otherwise, and whether or not you have been made aware of the possibility of such loss or damage:(a) indirect or consequential loss;(b) loss of revenue, business, profits, interest or anticipated savings; (c) loss of goodwill or reputation; (d) loss of or damage to records or data including, but not limited to, any costs of regenerating or restoring any lost or damaged records or data; (e) penalties, fines or other sanctions imposed by any governmental or other regulatory body; or (f) third party claims for loss or damage or other compensation.
              (vii) In respect of all loss or damage additional to that set out in Clauses 4 (v) and 4 (vi) above, the liability of SQL Mantra Tools to you, whether in contract, tort (including negligence), breach of statutory duty, contribution or otherwise shall be subject to a limit of the price paid by you for the Software in the previous 3 months in respect of any event or series of connected events.
            </p>
            <h6>6. Term and Termination</h6>
            <p>
              (i) This Agreement and the Software Licence are effective until terminated. This Agreement and the Software Licence will terminate immediately if you fail to comply with any term or condition of this Agreement including, without limitation, failure to pay any sum owing to SQL Mantra Tools. Upon such termination you agree, with immediate effect, to (a) cease using the Software, (b) de-install the Software from your workstations and servers and (c) (if applicable) destroy or return any media containing the Software.
              (ii) The provisions of Clauses 2, 3, 4, 5, 7, 8 and this Clause 6 shall survive termination of this Agreement and the Software Licence, however and whenever occurring.
            </p>
            <h6>7. Fees</h6>
            <p>
              (i) SQL Mantra Tools reserves the right to change subscription fees at any time. SQL Mantra Tools will notify you of any fee changes that may affect you at least 30 days before the change is due to take effect.
              (ii) Any fee changes will be notified via email to the "Contact Email" address specified in the Licence. You are responsible for ensuring that the email address specified is correct.
              (iii) Clause 7 (i) above may also be applicable to software marketed as no-cost or free. Nothing herein shall prevent SQL Mantra Tools from electing to charge licence and/or other fees to access and/or use the software at any point in the future.
            </p>
            <h6>8. Miscellaneous</h6>
            <p>
              (i) The headings of the clauses in this Agreement are for convenience only and do not affect the interpretation of this Agreement.
              (ii) Any notice to be given by one party to the other shall be given in writing and shall be properly served if sent by pre-paid first class postage to the registered office or last known business address of the party to be served and shall be deemed to have been received on the second business day after posting or on the fifth business day if delivered internationally.
              (iii) No waiver by SQL Mantra Tools of any breach of this Agreement by you shall be considered as a waiver of any subsequent breach of the same or any other provision.
              (iv) This Agreement sets forth the entire understanding and agreement between you and SQL Mantra Tools and supersedes all prior agreements, whether written or oral, with respect to the Software.
              (v) This Agreement shall be construed in accordance with the laws of England and Wales and the courts of England and Wales shall have exclusive jurisdiction in any dispute relating to this Agreement, save that SQL Mantra Tools may, at its discretion, bring any proceedings against you in the courts of any other country where the remedies sought through such proceedings include injunctive relief.
              (vi) If any part of this Agreement shall be or become invalid or unenforceable in any way and to any extent by any existing or future rule of law, order, statute or regulation applicable thereto, then the same shall to the extent of such invalidity or unenforceability be deemed to have been deleted from this Agreement which shall remain in full force and effect as regards all other provisions.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end under construction section -->
