
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6">
            <div class="inner-title">
              <a routerLink="/"><i class="fas fa-home"></i></a>&nbsp;<i class="fas fa-angle-right"></i>&nbsp;<a routerLink="" (click)="headerService.userDashboard()">Dashboard</a><br />
              <h5>
                My Customers
              </h5>
            </div>
          </div>
          <div class="col-md-6 text-right margin-30px-bottom padding-10px-bottom" *ngIf="addallowed == true">
            <button class="butn theme" type="button" (click)="AddCustomer()"><span>Add Customer</span></button>
          </div>
        </div>
        <app-customer-list></app-customer-list>

      </div>
    </div>

  </div>
</section>
<!-- end under construction section -->
