
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6">
            <div class="inner-title">
              <a routerLink="/"><i class="fas fa-home"></i></a>&nbsp;<i class="fas fa-angle-right"></i>&nbsp;<a routerLink="" (click)="headerService.userDashboard()">Dashboard</a><br />
              <h5>
                Sale Transactions
              </h5>
            </div>
          </div>
        </div>
        <app-sales-transaction></app-sales-transaction>

      </div>
    </div>

  </div>
</section>
