
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6">
            <div class="inner-title">
              <h5>
                SQL Mantra Tools - Privacy Policy
              </h5>
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-md-12">

            <h6>How we use your information </h6>
            <p>
              This privacy notice tells you what to expect when SQL Mantra Tools collects personal information. It applies to information we collect about:
            </p>
              <ul>
                <li>People request our software and services;</li>

                <li>
                  Visitors to our websites;
                </li>
                <li>Surveys on our blog;</li>
                <li>People who use our services, eg who use our support services or subscribe to our newsletter;</li>
                <li>People who notify under the Data Protection Act;</li>
              </ul>
            
            <h6>Visitors to our websites </h6>
            <p>When someone visits our website, we use a third-party service, Google Analytics, to collect standard internet log information and details of visitor behaviour patterns. We do this to find out things such as the number of visitors to the various parts of the site. This information is only processed in a way which does not identify anyone. If we do want to collect personally identifiable information through our website, we will be up front about this. We will make it clear when we collect personal information and will explain what we intend to do with it. </p>
            <h6>Use of cookies</h6>
            <p>You can read more about how we use cookies on our <a routerLink="/cookie-policy">Cookies Policy</a> page. </p>
            <h6>Search engine</h6>
            <p>Search queries and results are logged anonymously to help us improve our website and search functionality. No user-specific data is collected by either SQL Mantra Tools or any third party. </p>
            <h6>E-newsletter</h6>
            <p>We gather statistics around email opening and clicks using industry standard technologies including clear gifs to help us monitor and improve our e-newsletter. </p>
            <h6>People who call our Telephone Line </h6>
            <p>When you call the SQL Mantra Tools Telephone Line we collect Calling Line Identification (CLI) information. We use this information to help improve its efficiency and effectiveness. </p>
            <h6>People who email us </h6>
            <p>
              We use Microsoft Office, and use Transport Layer Security (TLS) to encrypt and protect email traffic. If your email service does not support TLS, you should be aware that any emails we send or receive may not be protected in transit.<br />
              We will also monitor any emails sent to us, including file attachments, for viruses or malicious software. Please be aware that you have a responsibility to ensure that any email you send is within the bounds of the law.
            </p>
            <h6>People who use our LiveChat service </h6>
            <p>
              We use a third party provider, My LiveChat, to supply and support our Live Chat service, which we use to handle customer enquiries in real time.<br />

              If you use the My LiveChat service we will collect your name, email address (optional) and the contents of your My LiveChat session. This information will be retained for two years and will not be shared with any other organisations.<br />

              You can request a transcript of your My LiveChat session if you provide your email address at the start of your session or when prompted at the end.
            </p>
            <h6>
              People who use SQL Mantra Tools services
            </h6>
            <p>SQL Mantra Tools does not offer software and services to the general public. We provide software and services only to businesses. When businesses communicate with us, or request to procure our software or services, they are asked to provide the contact details of a relevant member of staff. We have to hold the details of the people who have requested the software and service in order to provide it. However, we only use these details to provide the software and service the person has requested. </p>
            <h6>
              People who register (notify) under the Data Protection Act 1998
            </h6>
            <p>
              Many businesses are required by law to ‘notify’ certain specified information to the Information Commissioner. This may contain personal information, for example where the business is a sole trader. SQL Mantra Tools compiles this information into a register which it is required by law to make publicly available. SQL Mantra Tools cannot therefore give any guarantees as to how the information contained on the register will be used by those accessing it.<br />

              SQL Mantra Tools is the data controller for the information you provide during the process unless otherwise stated. If you have any queries about the process or how we handle your information please contact us at sales@SQLMantraTools.com.
            </p>
            <h6>
              What will we do with the information you provide to us?
            </h6>
            <p>
              All of the information you provide during the process will only be used for the purpose of providing our software and services, or to fulfil legal or regulatory requirements if necessary.<br />

              We will not share any of the information you provide with any third parties for marketing purposes or store any of your information outside of the European Economic Area. The information you provide will be held securely by us and/or our data processors whether the information is in electronic or physical format.<br />

              We will use the contact details you provide to us to contact you to process your request for software and services.
            </p>
            <h6>
              What information do we ask for, and why?
            </h6>
            <p>We do not collect more information than we need to fulfil our stated purposes and will not retain it for longer than is necessary. </p>
            <h6>
              How long is the information retained for?
            </h6>
            <p>Information you provided will be retained by us during the use of our software and service plus 7 years following the end of it.</p>
            <h6>
              Your rights
            </h6>
            <p>Under the Data Protection Act 1998, you have rights as an individual which you can exercise in relation to the information, we hold about you. </p>
            <h6>
              Complaints or queries
            </h6>
            <p>
              SQL Mantra Tools will always aim to meet the highest standards when collecting and using personal information. For this reason, we take any complaints we receive about this very seriously. We encourage people to bring it to our attention if they think that our collection or use of information is unfair, misleading or inappropriate. We would also welcome any suggestions for improving our procedures.<br />
              This privacy notice was drafted with brevity and clarity in mind. It does not provide exhaustive detail of all aspects of SQL Mantra Tools’ collection and use of personal information. However, we are happy to provide any additional information or explanation needed. Any requests for this should be sent to the address below.<br />
              If you want to make a complaint about the way we have processed your personal information, you can contact www.ico.org, the statutory body which oversees data protection law.
            </p>
            <h6>
              Access to personal information
            </h6>
            <p>
              SQL Mantra Tools tries to be as open as it can be in terms of giving people access to their personal information. Individuals can find out if we hold any personal information by making a ‘subject access request’ under the Data Protection Act 1998. If we do hold information about you we will:
            </p>
              <ul>
                <li>Give you a description of it;</li>

                <li>Tell you why we are holding it;</li>

                <li>Tell you who it could be disclosed to; and</li>

                <li>Let you have a copy of the information in an intelligible form.</li>
              </ul>
            <p>
              To make a request to SQL Mantra Tools for any personal information we may hold you need to put the request in writing addressing it to our "Data Protection Officer" to the address provided below.<br />

              If you agree, we will try to deal with your request informally, for example by providing you with the specific information you need over the telephone.<br />

              If we do hold information about you, you can ask us to correct any mistakes by, once again, contacting the "Data Protection Officer".
            </p>
            <h6>
              Changes to this privacy notice
            </h6>
            <p>We keep our privacy notice under regular review. This privacy notice was last updated on 12 November 2020. </p>
            <h6>
              How to contact us
            </h6>
            <p>
              If you want to request information about our privacy policy you can email us to <a href="mailto:sales@SQLMantraTools.com">sales@SQLMantraTools.com</a> or write to:
              <br/>
              Data Protection Officer<br />
              RSM Softwares LTD,<br />
              85 Great Portland Street,<br />
              First Floor,<br />
              London,<br />
              W1W 7LT<br />
              United Kingdom
            </p>
          </div>
        </div>

      </div>
    </div>

  </div>
</section>
<!-- end under construction section -->
