
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6">
            <div class="inner-title">
              <h5>
                Edit Setup Screen
              </h5>
            </div>
          </div>
          <div class="col-md-6 text-right margin-30px-bottom padding-10px-bottom">
            <button class="butn theme" type="button" (click)="BacktoSetupScreen()"><span>Back to Setup Screens</span></button>
          </div>
        </div>
        <app-admin-setup-screen-edit></app-admin-setup-screen-edit>

      </div>
    </div>

  </div>
</section>
<!-- end under construction section -->
