        <!-- start registration form -->
        <section>
            <div class="container">
                <div class="row justify-content-center">
                  <div class="col-md-11 col-lg-8 col-xl-7">

                    <div class="common-block" *ngIf="!registerSuccess">

                      <div class="line-title">
                        <h3>Customer / Partner Registeration Panel</h3>
                      </div>

                      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

                        <div class="row">

                          <div class="col-sm-6 margin-10px-bottom">

                            <div class="form-group">
                              <label>Name *</label>
                              <input id="name" type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" placeholder="Name here" autocomplete="off" />
                              <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                <div *ngIf="f.name.errors.required">name is required</div>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-6 margin-10px-bottom">
                            <div class="form-group">
                              <label>Email *</label>
                              <input id="email" type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" placeholder="EMail here" autocomplete="off" />
                              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                <div *ngIf="f.email.errors.required">Email is required</div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-sm-6 margin-10px-bottom">
                            <div class="form-group">
                              <label>Password *</label>
                              <input id="password" type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="Password here" autocomplete="off" />
                              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                <div *ngIf="f.password.errors.required">password is required</div>
                              </div>
                            </div>

                          </div>
                          <div class="col-sm-6 margin-10px-bottom">
                            <div class="form-group">
                              <label>Confirm Password *</label>
                              <input id="confirm_password" type="password" formControlName="confirm_password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirm_password.errors }" placeholder="Confirm Password here" autocomplete="off" />
                              <div *ngIf="submitted && f.confirm_password.errors" class="invalid-feedback">
                                <div *ngIf="f.confirm_password.errors.required">Confirm Password is required</div>
                                <div *ngIf="f.confirm_password.errors.confirmPasswordValidator">Confirm Password mismatch</div>
                              </div>
                            </div>
                          </div>
                        </div>


                        <div class="row">
                          <div class="col-sm-6 margin-10px-bottom">
                            <label>Phone *</label>
                            <div class="form-group">
                              <input id="phone" type="text" formControlName="phone" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" placeholder="Contact number here" autocomplete="off" />
                              <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                                <div *ngIf="f.phone.errors.required">phone is required</div>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-6 margin-10px-bottom">
                            <label>Company *</label>
                            <div class="form-group">
                              <input id="company" type="text" formControlName="company" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.company.errors }" placeholder="Company here" autocomplete="off" />
                              <div *ngIf="submitted && f.company.errors" class="invalid-feedback">
                                <div *ngIf="f.company.errors.required">Company is required</div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-12 margin-10px-bottom">
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" formControlName="acceptTerms" id="acceptTerms" class="custom-control-input" [ngClass]="{ 'is-invalid': submitted && f.acceptTerms.errors }" />
                              <label for="acceptTerms" class="custom-control-label">Accept Terms & Conditions</label>
                              <div *ngIf="submitted && f.acceptTerms.errors" class="invalid-feedback">I agree to the <a routerLink="/terms-of-use" class="text-theme-color">Terms & Conditions</a></div>


                            </div>
                          </div>

                        </div>

                        <button class="butn theme btn-block margin-20px-top"><span>Register</span></button>
                        <div class="text-center text-small margin-20px-top">
                          <span>Already have an account? <a routerLink="/login">Login</a></span>
                        </div>

                      </form>

                    </div>

                    <div class="common-block" style="background-color:#fff;" *ngIf="registerSuccess">


                      <div class="row">
                        <div class="col-md-12 text-center">
                          <i class="fas fa-check fa-5x" style="color: #8A2D86;"></i>
                          <h2 style="color: #8A2D86;">Welcome to SQL Mantra Tools!</h2>

                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12 text-center">
                          <p style="margin-bottom: 20px;">You are one step away from experiencing the new way to interact with database. An activation link is on its way to your email. Please click on it and you will be all set to get started!.</p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12 text-center">
                          <a routerLink="/login" class="butn theme small margin-15px-top"><span>Login</span></a>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12 text-center">
                          <p style="margin-bottom: 20px;">Please contact <a class="button link" href="mailto:sales@sqlmantratools.com">sales@sqlmantratools.com</a> if you have any queries.</p>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>

            </div>
        </section>
        <!-- end registration form -->
