<div class="table-responsive">
  <table class="table table-hover table-theme">
    <thead>
      <tr>
        <th>Product Code</th>
        <th>Server</th>
        <th>Domain</th>
        <th>Expiry Date</th>
        <th>Auto Renew</th>
        <th>Evaluation</th>
        <th>Active</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody *ngIf="contentLoaded == true">
      <tr *ngFor="let item of licenseDetails.licenseDetails">
        <td>{{item.productCode}}</td>
        <td>{{item.server}}</td>
        <td>{{item.domain}}</td>
        <td>{{item.expiryDate |  date:'yyyy-MM-dd'}}</td>
        <td><span class="fa fa-{{item.autoRenew ? 'check text-success': 'times text-danger'}}"></span></td>
        <td><span class="fa fa-{{item.evaluation ? 'check text-success': 'times text-danger'}}"></span></td>
        <td><span class="fa fa-{{item.active ? 'check text-success': 'times text-danger'}}"></span></td>
        <td>
          <a routerLink="/user/license/view/{{customerId}}/{{item.licenseKey}}" placement="top" ngbTooltip="View License"><i class="fas fa-eye"></i></a>
          &nbsp;| &nbsp;
          <a routerLink="/user/license/view-servers/{{customerId}}/{{item.licenseKey}}" placement="top" ngbTooltip="View License Servers"><i class="fas fa-server"></i></a>
          &nbsp;| &nbsp;<a [routerLink]="[]" (click)="generateLicense(item.licenseId)" placement="top" ngbTooltip="Download License"><i class="fas fa-download"></i></a><ng-container>
  | &nbsp;<a [routerLink]="[]" (click)="renewLicense(item.licenseId)" placement="top" ngbTooltip="Renew License"><i class="fas fa-sync"></i></a></ng-container>
  <ng-container *ngIf="adminUser == true">| &nbsp;<a routerLink="/admin/license/edit/{{customerId}}/{{item.licenseKey}}" placement="top" ngbTooltip="Edit License"><i class="fas fa-edit"></i></a></ng-container>
</td>
      </tr>

    </tbody>
  </table>
</div>
