
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6">
            <div class="inner-title">
              <h5>
                Update Profile
              </h5>
            </div>
          </div>
          <div class="col-md-6 text-right margin-30px-bottom padding-10px-bottom">
            <button class="butn theme" type="button" (click)="BacktoDashboard()"><span>Back to Home</span></button>
          </div>
        </div>
        <app-update-profile></app-update-profile>

      </div>
    </div>

  </div>
</section>
<!-- end under construction section -->
