<!-- start contact section -->
<section>
  <div class="container">

    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-md-6">
            <div class="inner-title">
              <h5>Admin Dashboard</h5>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <fieldset style="border-bottom:none;">
              <legend><i class="fas fa-cog"></i>General Settings</legend>
              <ul>
                <li><a routerLink="/admin/promotions">Promotions</a></li>
                <li><a routerLink="/admin/setup-screens">Setup Screen</a></li>
                <li><a routerLink="/admin/countries">Manage Country Codes</a></li>
              </ul>
            </fieldset>
            <fieldset style="border-bottom-width: 1px;">
              <legend><i class="fas fa-users"></i>Customers</legend>
              <ul>
                <li><a routerLink="/user/customers">Manage Customers</a></li>

              </ul>
            </fieldset>
          </div>
          <div class="col-md-6">
            <fieldset style="border-bottom:none;">
              <legend><i class="fas fa-database"></i>Products</legend>
              <ul>
                <li><a routerLink="/admin/products">Manage Products</a></li>
                <li><a routerLink="/user/sale-transactions">Manage Sales Transaction</a></li>

              </ul>
            </fieldset>
            <fieldset style="border-bottom-width: 1px;">
              <legend><i class="fas fa-envelope"></i>EMail</legend>
              <ul>
                <li><a routerLink="/admin/email-layouts">Manage EMail Layouts</a></li>
                <li><a routerLink="/admin/email-templates">Manage EMail Templates</a></li>
                <li><a routerLink="/admin/email-logs">Manage EMail Logs</a></li>
              </ul>
            </fieldset>
          </div>
        </div>
      </div>
  </div>
  </div>
</section>



