
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6">
            <div class="inner-title">
              <h5>
                View Customer
              </h5>
            </div>
          </div>
          <div class="col-md-6 text-right margin-30px-bottom padding-10px-bottom">
            <button class="butn theme" type="button" (click)="BacktoCustomer()"><span>Back to Customers</span></button>
          </div>
        </div>
        <app-customer-view></app-customer-view>

      </div>
    </div>

  </div>
</section>
<!-- end under construction section -->
