        <!-- start registration form -->
<section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-11 col-lg-8 col-xl-7">
        <div class="common-block" style="background-color:#fff;">


          <div class="row">
            <div class="col-md-12 text-center">
              <i class="fas fa-check fa-5x" style="color: #8A2D86;"></i>
              <h2 style="color: #8A2D86;">Welcome to SQL Mantra Tools!</h2>

            </div>
          </div>
          <div class="row">
            <div class="col-md-12 text-center">
              <p style="margin-bottom: 20px;">Verification successful. Start using SQL Mantra Tools by logging in using the credentials.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 text-center">
              <a routerLink="/login" class="butn theme small margin-15px-top"><span>Login</span></a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 text-center">
              <p style="margin-bottom: 20px;">Please contact <a class="button link" href="mailto:sales@sqlmantratools.com">sales@sqlmantratools.com</a> if you have any queries.</p>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</section>
<!-- end registration form -->
