

<div class="quform-elements inner-container" *ngIf="contentLoaded == true">

  <div class="row">
    <div class="col-md-12">

      <form [formGroup]="LicenseEditForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-md-6">
            <fieldset style="border-bottom:none;">
              <legend><i class="fas fa-info-circle"></i>Basic Details</legend>
              <div class="form-group">
                <label>Product Code</label>
                <input id="productCode" type="text" formControlName="productCode" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.productCode.errors }" placeholder="Product Code here" />
                <div *ngIf="submitted && f.productCode.errors" class="invalid-feedback">
                  <div *ngIf="f.productCode.errors.required">Product Code is required</div>
                </div>
              </div>
              <div class="form-group" *ngIf="canViewNotes">
                <label>Notes</label>
                <input id="notes" type="text" formControlName="notes" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.notes.errors }" placeholder="Notes here" />
                <div *ngIf="submitted && f.notes.errors" class="invalid-feedback">
                  <div *ngIf="f.notes.errors.required">Notes is required</div>
                </div>
              </div>
              <div class="form-group" *ngIf="!canViewNotes">
                <input id="notes" type="hidden" formControlName="notes"/>
              </div>
            </fieldset>
          </div>
          <div class="col-md-6">
            <fieldset>
              <legend><i class="fas fa-info-circle"></i>Additional Details</legend>
              <div class="form-group">
                <label>License key</label>
                <input id="licenseKey" type="text" formControlName="licenseKey" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.licenseKey.errors }" placeholder="License Key here" />
                <div *ngIf="submitted && f.licenseKey.errors" class="invalid-feedback">
                  <div *ngIf="f.licenseKey.errors.required">License Key is required</div>
                </div>
              </div>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" formControlName="active" id="active" class="custom-control-input" />
                <label for="active" class="custom-control-label">Active</label>
              </div>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" formControlName="autoRenew" id="autoRenew" class="custom-control-input" />
                <label for="autoRenew" class="custom-control-label">Auto Renew</label>
              </div>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" formControlName="evaluation" id="evaluation" class="custom-control-input" />
                <label for="evaluation" class="custom-control-label">Evaluation</label>
              </div>
            </fieldset>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <fieldset style="border-bottom:none;">
              <legend><i class="fas fa-info-circle"></i>Maintenance Details</legend>
              <div class="form-group">
                <label>Maintenance Server</label>
                <input id="maintenanceServer" type="text" formControlName="maintenanceServer" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.maintenanceServer.errors }" placeholder="Maintenance Server here" />
                <div *ngIf="submitted && f.maintenanceServer.errors" class="invalid-feedback">
                  <div *ngIf="f.maintenanceServer.errors.required">Maintenance Server is required</div>
                </div>
              </div>
              <div class="form-group">
                <label>Maintenance Domain</label>
                <input id="maintenanceDomain" type="text" formControlName="maintenanceDomain" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.maintenanceDomain.errors }" placeholder="Maintenance Domain here" />
                <div *ngIf="submitted && f.maintenanceDomain.errors" class="invalid-feedback">
                  <div *ngIf="f.maintenanceDomain.errors.required">Maintenance Domain is required</div>
                </div>
              </div>
              <div class="form-group">
                <label>Maintenance Expiry Date</label>
                <div class="input-group">
                  <input class="form-control" placeholder="yyyy-mm-dd"
                         name="maintenanceExpiryDate" formControlName="maintenanceExpiryDate" ngbDatepicker #md="ngbDatepicker">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar" (click)="md.toggle()" type="button"><i class="fas fa-calendar"></i></button>
                  </div>
                </div>           
              </div>
            </fieldset>
          </div>
          <div class="col-md-6">
            <fieldset>
              <legend><i class="fas fa-info-circle"></i>Logging Details</legend>
              <div class="form-group">
                <label>Logging Server</label>
                <input id="loggingServer" type="text" formControlName="loggingServer" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.loggingServer.errors }" placeholder="Logging Server here" />
                <div *ngIf="submitted && f.loggingServer.errors" class="invalid-feedback">
                  <div *ngIf="f.loggingServer.errors.required">Logging Server is required</div>
                </div>
              </div>
              <div class="form-group">
                <label>Logging Domain</label>
                <input id="loggingDomain" type="text" formControlName="loggingDomain" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.loggingDomain.errors }" placeholder="Logging Domain here" />
                <div *ngIf="submitted && f.loggingDomain.errors" class="invalid-feedback">
                  <div *ngIf="f.loggingDomain.errors.required">Logging Domain is required</div>
                </div>
              </div>
              <div class="form-group">
                <label>Logging Expiry Date</label>
                <div class="input-group">
                  <input class="form-control" placeholder="yyyy-mm-dd"  
                         name="loggingExpiryDate" formControlName="loggingExpiryDate" ngbDatepicker #ld="ngbDatepicker">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar" (click)="ld.toggle()" type="button"><i class="fas fa-calendar"></i></button>
                  </div>
                </div>
            
              </div>
            </fieldset>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <fieldset style="border-bottom:none;">
              <legend><i class="fas fa-info-circle"></i>Analysis Details</legend>
              <div class="form-group">
                <label>Analysis Server</label>
                <input id="analysisServer" type="text" formControlName="analysisServer" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.analysisServer.errors }" placeholder="Analysis Server here" />
                <div *ngIf="submitted && f.analysisServer.errors" class="invalid-feedback">
                  <div *ngIf="f.analysisServer.errors.required">Analysis Server is required</div>
                </div>
              </div>
              <div class="form-group">
                <label>Analysis Domain</label>
                <input id="analysisDomain" type="text" formControlName="analysisDomain" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.analysisDomain.errors }" placeholder="Analysis Domain here" />
                <div *ngIf="submitted && f.analysisDomain.errors" class="invalid-feedback">
                  <div *ngIf="f.analysisDomain.errors.required">Analysis Domain is required</div>
                </div>
              </div>
              <div class="form-group">
                <label>Analysis Expiry Date</label>
                <div class="input-group">
                  <input class="form-control" placeholder="yyyy-mm-dd"  
                         name="analysisExpiryDate" formControlName="analysisExpiryDate" ngbDatepicker #d="ngbDatepicker">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><i class="fas fa-calendar"></i></button>
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
          <div class="col-md-6">
            <fieldset>
              <legend><i class="fas fa-info-circle"></i>Scheduler Details</legend>
              <div class="form-group">
                <label>Scheduler Server</label>
                <input id="schedulerServer" type="text" formControlName="schedulerServer" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.schedulerServer.errors }" placeholder="Scheduler Server here" />
                <div *ngIf="submitted && f.schedulerServer.errors" class="invalid-feedback">
                  <div *ngIf="f.schedulerServer.errors.required">Scheduler Server is required</div>
                </div>
              </div>
              <div class="form-group">
                <label>Scheduler Domain</label>
                <input id="schedulerDomain" type="text" formControlName="schedulerDomain" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.schedulerDomain.errors }" placeholder="Scheduler Domain here" />
                <div *ngIf="submitted && f.schedulerDomain.errors" class="invalid-feedback">
                  <div *ngIf="f.schedulerDomain.errors.required">Scheduler Domain is required</div>
                </div>
              </div>
              <div class="form-group">
                <label>Scheduler Expiry Date</label>
                <div class="input-group">
                  <input class="form-control" placeholder="yyyy-mm-dd"  
                         name="schedulerExpiryDate" formControlName="schedulerExpiryDate" ngbDatepicker #sd="ngbDatepicker">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar" (click)="sd.toggle()" type="button"><i class="fas fa-calendar"></i></button>
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
        </div>

        <div class="row">
          <div class="col-md-9">&nbsp;</div>
          <div class="col-md-3">
            <button class="butn theme btn-block margin-20px-top"><span>Submit</span></button>

          </div>
        </div>


      </form>

    </div>


  </div>
</div>
