
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6">
            <div class="inner-title">
              <h5>
                Become a Partner
              </h5>
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-md-12">
            Why not become a partner?
            If you become a partner, your organisation and your customers will benefit from our range of software and service.  You can sell our tools and get great margins and recurring revenue from it.  You will mange your own customers and their licences and will give you great opportunity to collaborate with us to use our expertise to solve your customers performance challenges.  We will handhold you from day one.  Why not send an email to sales@sqlmantratools.com today?
          </div>
        </div>

      </div>
    </div>

  </div>
</section>
<!-- end under construction section -->
