<!-- start footer section -->
<footer class="footer-style10">
<div class="container">
    <div class="row">

      <div class="col-sm-12 col-lg-7 sm-margin-35px-bottom">
        <img src="../../../../assets/img/logos/logo.png" alt="..." style="height:70px !important"/>
        <p>SQL Mantra Tools will analyse Microsoft SQL Server key setup parameters as well as it's resources along with application setups and will check them against best practice guidelines and will suggest the necessary steps to remedy them.</p>
      </div>
      <div class="col-sm-4 col-lg-3 sm-margin-35px-bottom">
        <h3>Software modules</h3>
        <ul>
          <li><a routerLink="/modules/database-maintenance">Database Maintenance</a></li>
          <li><a routerLink="/modules/performance-logging">Performance Logging</a></li>
          <li><a routerLink="/modules/system-analysis">System Analysis</a></li>
          <li><a routerLink="/modules/schedular">Schedular</a></li>
        </ul>
      </div>
      <div class="col-sm-4 col-lg-2 sm-margin-35px-bottom">
        <h3>Links</h3>
        <ul>
          <li><a routerLink="/about-us">About Us</a> </li>
          <li><a routerLink="/contact-us">Contact Us</a> </li>
          <li><a routerLink="/terms-of-use">Terms and Conditions</a> </li>
          <li><a routerLink="/user-agreement">User Agreement</a> </li>
          <li><a routerLink="/privacy-policy">Privacy Policy</a> </li>
          <li><a routerLink="/become-a-partner">Become a Partner</a> </li>
        </ul>
      </div>
      

    </div>

  </div>

  <div class="footer-bar">
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-left xs-text-center xs-margin-5px-bottom">
          <div class="social-icons">
            <ul>
              <li><a href="https://www.facebook.com/sql.mantratools.3" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="https://twitter.com/ToolsSql" target="_blank"><i class="fab fa-twitter"></i></a></li>
              <li><a href="https://www.linkedin.com/company/68847943" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 text-right xs-text-center">
          <p class="xs-margin-5px-top xs-font-size13">
            &copy;
            {{copyrightYr}} SQL Mantra Tools is Powered by JDV Technologies
          </p>
        </div>
      </div>
    </div>
  </div>

</footer>
<!-- end footer section -->
