<!-- start table section -->
<div class="row">
  <div class="form-group col-md-4">
    <label>Start Date</label>
    <div class="input-group">
      <input class="form-control" placeholder="yyyy-mm-dd"
             name="startDate" [(ngModel)]="startDate" ngbDatepicker #d="ngbDatepicker">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><i class="fas fa-calendar"></i></button>
      </div>
    </div>
  </div>
  <div class="form-group col-md-4">
    <label>End Date</label>
    <div class="input-group">
      <input class="form-control" placeholder="yyyy-mm-dd"
             name="endDate" [(ngModel)]="endDate" ngbDatepicker #ed="ngbDatepicker">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary calendar" (click)="ed.toggle()" type="button"><i class="fas fa-calendar"></i></button>
      </div>
    </div>
    
  </div>
  <div class="form-group col-md-4">
    <button class="butn theme btn-block margin-20px-top" (click)="submitFilter()">Apply</button>
  </div>
</div>
<div class="table-responsive">
  <table class="table table-hover table-theme">
    <thead>
      <tr>
        <th>Customer</th>
        <th>Invoice Number</th>
        <th>Transaction Date</th>
        <th>Referred By</th>
        <th>Partner</th>
        <th>On Account</th>
        <th>Transaction Type</th>
        <th>Currency</th>
        <th>Price Ex VAT</th>
        <th>Discount Amount</th>
        <th>VAT Amount</th>
        <th>Total Sales</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of saleTransactions.salesTransactions">
        <td>{{item.customer}}</td>
        <td>
          <a routerLink="/user/sale-transactions/view/{{item.invoiceNo}}">{{item.invoiceNo}}</a>
          
        </td>
        <td>{{item.transactionDate |  date:'yyyy/MM/dd'}}</td>
        <td>{{item.referredByName}}</td>
        <td>{{item.partner}}</td>
        <td><span class="fa fa-{{item.onAccount ? 'check text-success': 'times text-danger'}}"></span></td>
        <td>{{item.transactionType}}</td>
        <td>{{item.currency}}</td>
        <td>{{item.priceExVat}}</td>
        <td>{{item.discountAmount}}</td>
        <td>{{item.vatAmount}}</td>
        <td>{{item.totalSales}}</td>
      </tr>

    </tbody>
  </table>
</div>
<app-invoice-pdf [data]="saleTransaction"></app-invoice-pdf>
<!-- end table section -->
